[2018-06-23 13:47] gentzkow opened #1 "Set up base structure for template"

[2018-06-23 16:49] #1 closed, assigned to gentzkow

[2018-06-24 13:51] gentzkow opened #3 "Test closing issue w/ pull request"
Evaluate workflow where:
1. We change pull request naming convention to omit "Pull request for #XX"
2. Final comment on issue is made in pull request
3. Issue is closed from within pull request

[2018-06-24 14:03] #3 closed, assigned to nobody

[2018-07-20 00:22] gentzkow opened #6 "Review gslab_make and gslab_fill Python libraries"
I am working on completing the first draft of a revised template and RA manual that, as I mentioned, I hope to work on together.

One of the tasks will be for you to revise some of our older Python libraries to provide the tools we need for the template in the simplest, clearest, and most robust form possible. The basis for these will be the `gslab_make` and `gslab_fill` modules in the [gslab_pyth

[2018-07-22 02:10] #6 closed, assigned to jcconway

[2018-07-26 17:38] gentzkow opened #7 "Review draft template and RA manual"
Steps

1. Read through the current draft of the RA manual on the [wiki](https://github.com/gentzkow/template/wiki).

2. Look over the current sketch of the template on the master branch of this repo ([here](https://github.com/gentzkow/template)). Don't worry much about the details -- it's incomplete and many things are just placeholders, but it should give you some sense of where we're headed.

[2018-07-31 18:38] #7 closed, assigned to z-y-huang

[2018-11-29 04:55] z-y-huang opened #8 "Incorporate updated gslab_make into template"
Implementation of the following tasks (see discussion [here](https://github.com/gentzkow/gslab_make/issues/4#issuecomment-442551991)):

Summary:
1. Develop setup tools (i.e., [setup.py](https://github.com/gentzkow/template/blob/a04bb688f57704b4adff5bb10ba76de8a9e688aa/setup.py))
2. Create template folder structure and `run.py` script at the module level
3. Create template master `run.py` script at

[2018-12-05 23:26] #8 closed, assigned to z-y-huang, jcconway

[2018-12-05 23:27] gentzkow opened #9 "Review current implementation"
Review our current implementation of the template + gslab_make, and discuss next steps.

The goal is to figure out how to make the template as simple, intuitive, and robust / bug proof as possible.

[2018-12-10 18:54] z-y-huang opened #10 "Update linking format and functionalities"
Continuation of [to-dos](https://github.com/gentzkow/template/issues/9#issuecomment-445928375) discussed in #9.

* [x] Reverse columns in `link_map.log`
* [x] Symlinks in `link_map.log` should be printed relative to the module root
* [x] Targets in `input.txt` should be communicated relative to the repository root
* [x] Targets in `external.txt` should be communicated using keys for `config_local.

[2018-12-14 18:11] #9 closed, assigned to gentzkow, z-y-huang, jcconway

[2018-12-20 18:36] z-y-huang opened #11 "Update documentation and release v0.1"
Continuation of #10 (see [here](https://github.com/gentzkow/template/issues/10#issuecomment-448793520)).

Update README for template and release as Beta v0.1.

[2018-12-21 03:19] #10 closed, assigned to z-y-huang, jcconway

[2019-01-02 23:33] #11 closed, assigned to z-y-huang

[2019-02-27 18:50] gentzkow opened #14 "Review current template"
Start by reading through the draft RA manual on the wiki [here](https://github.com/gentzkow/template/wiki).

Then look over the template code structure and make sure you understand how the pieces fit together.

[2019-03-05 12:14] AakaashRao opened #15 "Add resources for learning R and Python to Wiki"
@gentzkow I propose we add [Datacamp](https://www.datacamp.com/) (R and Python) and [R4DS](https://r4ds.had.co.nz/) (R) to the Setup page. I've personally found both of them very useful, as have many of the newer RAs in the other labs in which I've worked.

[2019-03-06 01:56] #15 closed, assigned to gentzkow

[2019-03-07 20:43] z-y-huang opened #16 "Update documentation"
Goals:
- Update setup instructions in `README.md`
- Add further comments to example scripts
- Add general user guides

[2019-04-01 19:35] z-y-huang opened #17 "Review implementation of template for SocialMediaEffects"
Companion of `gslab_make` [#18](https://github.com/gentzkow/gslab_make/issues/18)

* Debrief what what we've learned from implementing `gslab_make` and `template` for `SocialMediaEffects`
* Make improvements accordingly

[2019-04-30 00:05] #17 closed, assigned to nobody

[2019-05-01 05:33] #16 closed, assigned to z-y-huang

[2019-05-01 05:43] z-y-huang opened #20 "Update RA manual and standardize language across documentation"
* Update RA manual to incorporate from procedures from latest version of `gslab_make`
* Standardize language across documentation

[2019-05-08 19:26] #20 closed, assigned to z-y-huang

[2019-05-09 05:03] z-y-huang opened #21 "Review and test template"
Hi all,

The goal of this issue is for all assignees to:

1. Read through the [RA manual](https://github.com/gentzkow/template/wiki/Introduction)
2. Check out a clean copy of `template`
3. Following the RA manual and setup instructions in `README.md`, build the repository from start to finish
4. Test `template` and attempt to break it; report any bugs or errors
5. Provide feedback and identify roo

[2019-06-29 09:51] #14 closed, assigned to huntallcott, AakaashRao, msbutler, lenasong

[2019-06-29 10:10] gentzkow opened #23 "Update template with real example"
Revise the template with a live example that provides a good illustration of how our code works in practice.

Example should ideally:
1. Illustrate all the key steps we'd have in a typical project
2. Provide best practice templates for code files, paper / slides, etc.
3. Be as simple as possible subject to achieving (1) and (2)
4. Be readable & fun

I would suggest that we base the example on the

[2019-07-15 20:45] z-y-huang commented on #21
Changes implemented:
- Added `run_all.py` so repository can be built with a single script
- Migrated code in `make.py` scripts to `gslab_make` library to reduce clutter
- Cleaned up traceback for Python 3
- Added more description to error messages

[2019-07-29 16:26] gentzkow opened #24 "Add license"
It occurs to me that we should add a standard open source license to the readme for the template now that it is public.

Can you review the options for that and make a recommendation? We want to allow others to use and modify freely but require them to acknowledge us as the source.

[2019-07-30 05:45] z-y-huang commented on #24
@gentzkow:

I reviewed the different options for an open source license (using this [site](https://choosealicense.com/licenses/) for reference) and have listed the two I would recommend. The main difference between the two is mostly just if we want to require that any derivative software also be open source.

1. Apache 2.0
   - Requires preserving original copyright and license notices
   - Grants

[2019-07-30 20:08] gentzkow commented on #24
Great. Thanks! Let's just use the MIT license. I think the chance of patent
litigation involving our repo is remote enough that we can forget about
that.

[2019-07-31 00:14] z-y-huang commented on #21
Changes implemented:

* Added `run_module` function to clean up `run_all.py` script
* Added `copy_file` to facilitate exporting output locals

[2019-07-31 00:17] z-y-huang commented on #24
Summary:

Added MIT license to repository.

[2019-07-31 00:17] #24 closed

[2019-09-05 16:39] z-y-huang opened #26 "Add to template wiki"
Miscellaneous items to add:

* [x] Expand explanation of external dependencies
* [x] Add BibTeX usage

[code]

* [x] Add LyX commenting usage

[code]

* [x] Describe the following scalar export method

[code]

</code>
</details>

* [ ] Port over to Hunt's repo when finished.

[2019-09-05 16:39] z-y-huang commented on #23
Added example scripts in accordance to "TV & potato chips" example. Add explanation & documentation.

[2019-09-10 05:48] DavidRitzwoller commented on #21
no progress in past 2 weeks

[2019-10-02 06:22] DavidRitzwoller commented on #21
no progress in past 2 weeks

[2019-10-03 17:24] z-y-huang opened #27 "Review potential improvements from SocialMediaEffects data review"
- [x] [Review potential improvements](https://github.com/gentzkow/template/files/3687315/REPLICATION.pdf)
- [x] Add to RA manual: No hard-coding values in code
- [x] Add to RA manual: Export figures with specifications
- [ ] Add to RA manual: Delinking from git/Github procedure
- [x] Investigate docker

[2019-10-22 06:06] DavidRitzwoller commented on #21
no progress in past two weeks

[2019-10-23 00:40] z-y-huang commented on #26
LyX instructions for scalar export method.

1. Go to Document -> Settings -> LaTeX Preamble and enter:

[code]

In `scalars.tex`, enter:
[code]

Use `scalarmath` to display the value in math mode. USe `scalartext` to display the value in text mode.

[2019-11-12 06:17] DavidRitzwoller commented on #21
no progress in past two weeks

[2019-12-10 02:40] DavidRitzwoller commented on #21
no progress in past two weeks

[2019-12-10 17:38] gentzkow commented on #21
Another infinite loop.

You should just close this one if you don't have time to do the testing.

[2019-12-10 17:40] DavidRitzwoller commented on #21
Thanks @gentzkow. @mengsongouyang and I completed initial rounds of testing this summer. @z-y-huang is there anything in particular you would like us to look at?

[2019-12-17 19:12] z-y-huang commented on #21
@DavidRitzwoller:

I'll close this for now--currently implementing some changes, but may recruit you all again once those are finished.

Summary:
First round of review by GSLab RAs. Incorporated feedback regarding repository structure and workflow.

[2019-12-17 19:12] #21 closed

[2020-05-13 02:46] z-y-huang commented on #26
Summary:

Added or expanded instructions to the wiki for the following items:
1. How to use external dependencies
2. How to use BibTeX
3. How to comment in LyX
4. How to export scalars to LyX

Did not port wiki over to Hunt's repo.

[2020-05-13 02:46] #26 closed

[2020-05-13 02:50] z-y-huang commented on #27
[docker](https://www.docker.com/resources/what-container) allows you to create a container that contains all of the code and system tools to run an application. However, docker does not work well with software that requires a license, and therefore we did not pursue it for the template.

[2020-06-11 04:00] #27 closed

[2020-06-15 02:18] jcconway opened #30 "Implement coordinating mechanism for package versions"
The goal of this issue is to incorporate into the current template a way to standardize the _versions_ of packages used in a given project. Currently, necessary packages can be downloaded via the programs in [setup/](https://github.com/gentzkow/template/tree/5dc24e9f299b22c818c6b9a20eea178e0c27f0c3/setup). It may still be the case that individuals end up with different packages on their local comp

[2020-06-15 02:23] jcconway commented on #30
Our more specific thoughts for potential ways to implement this by program are as follows:
- _Stata_: Store packages in a lib/ado/ folder, and have Stata code files change their adopath to this folder.
- _Python_ and _R_: Create a specific Anaconda environment for the repo, created via programs in the repo with all necessary packages and versions.

We're still investigating potential solutions.

[2020-06-19 20:46] zkashner opened #31 "Update CRAN Mirror"
Similar to what was done in `gslab-econ/template`, I need to update the CRAN mirror to be one that is operational.

[2020-06-19 20:57] zkashner commented on #31
**Conclusion:**  updated and committed to master.

[2020-06-19 20:57] #31 closed

[2020-06-24 23:41] jcconway opened #32 "Discuss file versioning best practices"
The goal of this issue is to decide on suggested best practices for implementing file versioning when using this template.

[2020-06-24 23:44] jcconway commented on #32
@gentzkow:
Following up on our earlier VirusPolicy discussion of proper file versioning, I've opened up this issue to discuss best practices going forward. Thanks in advance for your advice, and I'll be happy to implement whatever we decide in our current projects.

---
**Current Implementation and Problem:**

In VirusPolicy we are facing the following issue. We have several data files which are u

[2020-06-25 17:14] gentzkow commented on #32
Thanks @jcconway.

Thoughts:

1. The /log/source_XXX.log output files are designed to provide  record of the file versions that were used in any given run. I think this is a robust way to *document* file versions used, in the sense of allowing us to confirm those versions ex post.

2. That said, I like your suggested implementation. My idea with config_user.yaml was that it would include a small n

[2020-06-25 21:24] jcconway commented on #32
**Summary:** In this issue we discussed best practices for file versioning. We noted that the version of a file used is documented in `/log/source_XXX.log`. We also agreed that pointing to specific versions of files which will need to be updated regularly should occur within `external.txt` and `internal.txt` rather than within `config_user.yaml`. `config_user_template.yaml` should also include inf

[2020-06-25 21:24] #32 closed

[2020-07-25 23:07] jcconway opened #33 "Plan external data versioning for completed projects"
The goal of this issue is to investigate options and decide on suggested best practices for archiving the specific version of external files used at key points in a project. Some possibilities for implementation include:
- creating a .zip file storing the particular version of files used for say the accepted version of a paper, to be stored on Dropbox/Oak/Github
- any file versioning/release featu

[2020-07-25 23:08] jcconway commented on #33
@zkashner I'm assigning this task to you to think about and investigate, as suggested by MG. I'm happy to talk through this task in more detail during our planned meeting on Monday.

[2020-09-16 20:57] zkashner commented on #30
@jcconway I have been re-visiting this issue and agree with your first two thoughts. Some details I would add are:

1. For Stata to be entirely the same, I believe we must ensure that users have the same version of Stata installed (i.e. 15 vs 16). This seems to be a good plan that (hopefully) will not be too memory intensive since there are very few dependencies to Stata ado files.
2. We can use m

[2020-09-16 21:36] jcconway commented on #30
Thanks @zkashner! Here are my replies to the [above](https://github.com/gentzkow/template/issues/30#issuecomment-693661150):

I believe this can be accomplished using the `version` command within Stata, rather than requiring that users have the same version installed. With this command, users with say Stata 15 and Stata 16 should get the same output so long as all .do files specify `version #`, wh

[2020-09-16 22:27] zkashner commented on #30
@jcconway thanks for your quick response!
Also, this:

is great news and I definitely defer to you on all matters regarding Stata. Just to be absolutely clear, all versions of Stata 15 are equivalent and there are not intermediate updates, correct?

On (3) it would be a nearly identical process to the current setup process just replacing pip installs and CRAN calls with a conda yaml file. I believ

[2020-09-16 22:51] jcconway commented on #30
Thanks @zkashner!

^This is correct to the best of my knowledge.

On 3), your plan sounds good to me. I think ideally we'd display a warning if package versions differ from the requirements in the yaml file, but I'm happy to defer to you on whatever you think is best and feasible to implement.

[2020-09-17 16:33] zkashner commented on #33
@jcconway I would also like to flag that Dropbox, or at least our paid version of Dropbox, has version control integrated. The way that it works is that for any given file you can see the change history, and you are free to restore any past version of any file. I believe in our current Dropbox setup this is limited to the past 180 days, although according to this more in depth [page](https://help.

[2020-09-17 18:33] jcconway commented on #33
Thanks @zkashner! This is good to know. I think it would be helpful if your summary for this issue could include the cost of this functionality (ie extending to 10 years of versioning) along with your recommendation for what you think is the best option to pursue.

[2020-09-17 20:09] zkashner commented on #30
@jcconway sounds good! So far (fingers crossed) this has been simple to implement a bare boned version of this so I am optimistic that this is a feasible solution.

[2020-09-17 22:40] zkashner commented on #30
@Houdanait when you get a chance could you please check out my branch of the template `issue30_package_versions` and try to follow the steps in the README. Once you get that set up if you can test out on your local machine whether or not the submodules work for all 3 languages (I tested on mine, but good to verify before move to more general use.)

One _big_ goal of this is to determine if the ins

[2020-09-17 23:13] zkashner commented on #33
@jcconway I will get in touch with the help center and get back with that, because it is not immediately obvious to me where to find the pricing. I believe we currently (through looking through assorted files' version history) have at least a year of version history, although that would likely not be sufficient for some of these longer term projects.

[2020-09-17 23:23] zkashner commented on #33
@jcconway good news! We are currently on an "unlimited version history package" so we are already paying for this feature. I believe that, with that taken into account, we are best off using that functionality and working to implement a plan to avoid cumbersome manual reversions.

[2020-09-17 23:36] Houdanait commented on #30
Hello, just finished, it all works, a bit lengthy though.
Only one possible commment maybe:

Since the paragraph usage is to be implemented after setup it would make more sense to have it come after it ? @zkashner

[2020-09-17 23:57] zkashner commented on #30
@Houdanait, thanks so much for going through it! When you say lengthy do you mean that it takes a while to implement, or that it is too verbose?

Will make that change! Great idea.

[2020-09-18 00:21] jcconway commented on #33
@zkashner good to know! I agree that works as a version history. Do you know if there is a way to tag particular snapshots of the data (e.g., analogous to Github releases)? Ie would there be an easy way within Dropbox's version history to get back to the version of the data that existed at the time of a paper submission?

[2020-09-18 01:02] Houdanait commented on #30
@zkashner I meant running time* text is clear and concise

[2020-09-18 04:04] zkashner commented on #30
@Houdanait ok awesome, thanks! I think that may be a given if we want to go the virtual env route since we need to download miniconda and JDK. Although, after the first time it will be much faster, hopefully.

[2020-09-18 19:06] gentzkow commented on #30
@zkashner At whatever point you all have converged on a solution can you ping me and give me a chance to look at it and weigh in?

[2020-09-18 19:23] Houdanait commented on #30
@zkashner @jcconway, I might have missed the initial discussion for this, but  how did you guys choose which packages were needed? Did you just include any package that was used at least once in a project and deemed to be useful potentially for another project to have a set which includes the maximum number of possibly desired packages or ..?
Because for instance, the R-Crayon package seems very h

[2020-09-18 19:28] zkashner commented on #30
@Houdanait good question! Currently the environment has the minimum number of packages (I believe) that are required to successfully run the test example that Zong implemented in #23 for all 3 languages (R, Python, and Stata). It is currently somewhat heavy because it relies upon the tidyverse in R (which I believe has crayon as a dependency). The idea is that on any project if any of these packag

[2020-09-18 19:34] gentzkow commented on #30
Thought here: I think we want to make sure the only dependencies for the template are very common + widely used packages. My impression is `tidyverse` satisfies that criterion. But if we're using anything that doesn't, we should confirm that we really need it.

[2020-09-18 19:45] zkashner commented on #30
@gentzkow, @Houdanait I believe that the only packages (and their dependencies) that we attach that are not needed for the base functionality of the repo are:

#### Python
- linearmodels (linear modelling)
- matplotlib (plotting)
- numpy (matrix and vector operations in python)

#### R
- tidyverse (common dialect of R that seems widely used enough to be needed)
- plm (panel linear models)
- janito

[2020-09-18 21:46] Houdanait commented on #30
@zkashner we have this :
"One way to get around this is to include `sudo` (or the Windows equivalent of running in administrative mode) in your bash command.
[code]

However, we caution against this (in particular for Macs) given the potential security risks. Instead, we recommend including the `--user` flag to your bash command.
[code]
"

My question is, why do we give the two options? it might s

[2020-09-18 22:01] zkashner commented on #30
@Houdanait I updated the README and removed much of the `pip` information which is made redundant by `conda`. Thanks for the feedback!

[2020-09-18 22:03] zkashner commented on #30
Thank you @Houdanait for your recommendations! @gentzkow I believe that we have converged upon a solution that is ready for feedback. If you want to try it out yourself the updated instructions and implementation can be found in this branch (`issue30_package_versions`). I've also written out a description of the changes, involved trade-offs, and potential improvements that I will hold off on imple

[2020-09-18 23:44] jcconway commented on #30
@zkashner, I haven't yet looked through this implementation in detail but wanted to share one quick thought on the Stata portion. I don't think the `version` set in [standardize_env.ado](https://github.com/gentzkow/template/blob/bfdeea6c0f7404d227213dbedd3bdec0308392e3/lib/stata/standardize_env.ado) will persist beyond the program itself. Here's the log file from a test I ran to confirm this issue

[2020-09-18 23:49] zkashner commented on #30
@jcconway good catch! A possible solution is to specify this in each stata `do` file right before `standardize_env` but I can also look into other cleaner solutions.

[2020-09-19 00:25] jcconway commented on #30
Thanks @zkashner! Another option for implementation would be to use the `include` command to run something like `standardize_env`. The difference between `do filenm.do` and `include filenm.do` is that temporary changes (e.g. specifying the version or creating locals) persist with the latter beyond just the environment of `filenm.do`, while they do not in the former.

[2020-09-19 00:38] zkashner commented on #30
@jcconway that is a great solution. I just implemented it in the commit above and checked the version in a similar way as you did, and it worked great!

[2020-09-21 17:41] zkashner commented on #33
@jcconway, that is a good question. I am going to ask if you can "tag" them. With further research, I have discovered that Dropbox does this for us with it's [rewind feature](https://help.dropbox.com/files-folders/restore-delete/rewind). You can revert an entire repository to how it looked at any point in time within its version history!

I am not certain if there is a way to do this, but simply c

[2020-09-21 18:08] jcconway commented on #33
Thanks @zkashner! "Rewind" sounds like it accomplishes what we want, and it's great to hear that we wouldn't have to separately revert each file. If we are able to rewind to files as they exist at a certain time, cross-referencing with Github commit times then seems like it would accomplish what we want reasonably well. (Minor possibility of file changes between when a repo is run vs. committed, b

[2020-09-21 20:34] zkashner commented on #33
@jcconway I got a response from Dropbox

So, currently there is no way of tagging points in time, but they took my question as a "feature request" so it may at some point in time be implemented. I will work on documenting this. My first thought of where to note these findings would be within the [Paper Production](https://github.com/gslab-econ/ra-manual/wiki/Paper-Production) section, which I woul

[2020-09-21 21:33] jcconway commented on #33
@zkashner I'd suggest that you write up a brief proposal of your solution for MG as a comment here, prior to changing the RA manual. If he's on board with this plan, then we could go ahead and implement those changes in the RA manual.

[2020-09-21 21:49] zkashner commented on #33
@gentzkow here is the proposed solution we have to this problem of data versioning.

Our Dropbox account allows for unlimited version history, and Dropbox's [rewind feature](https://help.dropbox.com/files-folders/restore-delete/rewind) allows you to revert an entire repository to how it looked at any point in time within its version history. Currently, there is no way to "tag" these as we do on Gi

[2020-10-05 16:12] gentzkow commented on #33
@zkashner Sorry for the slow reply here. Your plan using Dropbox rewind sounds good to me. I think we should create a new page in the RA manual after "Papers & Slides" and before "Production" called "Releases." It can include complete instructions for releases including the case where we're just posting a PDF for a paper or talk as well as the case where we are releasing data to Dropbox.

One ques

[2020-10-05 19:07] zkashner commented on #33
@gentzkow no worries! To your questions, I have not encountered any protocol regarding these cases, nor have I ever run into those cases myself. I will gladly survey the past RAs to ensure that the release page is as comprehensive as possible!

[2020-10-19 23:19] zkashner commented on #33
@gentzkow I am circling back to this, and seeking to begin writing the release page. I believe that I do not currently have write access to [your RA manual](https://github.com/gentzkow/ra-manual), or at least its wiki. Do you think you could please invite me to that repository? Thanks!

[2020-10-21 20:21] zkashner commented on #33
@gentzkow I spoke to past RAs, mainly David, about those questions above. Here are the answers:

1. In the PhoneAddiction data pipeline we encounter this and use `rclone sync` and store the intermediate output on Dropbox. My intuition is that the only projects with this large of files must be run on cluster computers like Sherlock. It seems as though this updating procedure is managed in the sbatc

[2020-11-04 00:11] gentzkow commented on #33
@zkashner I added you to the ra manual repo. Sounds like the best next step is for you to add that page then for me to review the protocol as described there. Thanks!

[2020-11-04 20:02] zkashner commented on #33
@gentzkow sounds good! I just added [here](https://github.com/gentzkow/ra-manual/wiki/Releases).

[2020-11-04 20:36] jcconway commented on #33
Thanks @zkashner! I read through the [wiki](https://github.com/gentzkow/ra-manual/wiki/Releases), which made sense to me. I looked into "Dropbox Rewind" to ensure that I could implement on my computer if needed. The "Dropbox Rewind" option was available on my personal account, but not on my GSLab account. My guess is that the admin settings (mentioned in the documentation [here](https://help.dropb

[2020-11-04 20:54] zkashner commented on #33
@jcconway thanks so much for the helpful feedback. I have included the link to Dropbox rewind documentation and defer to @gentzkow about whether doing these rewinds should be the responsibility of the super-RA or whether we should change that permission setting.

[2020-11-05 16:45] gentzkow commented on #33
Thanks guys. I just changed the setting so everyone on the team should be able to use Dropbox Rewind.

[2020-11-05 17:43] gentzkow commented on #33
The RA manual [page](https://github.com/gentzkow/ra-manual/wiki/Releases) looks great. I made edits.

It seems like the current protocol is designed for a case where we are exporting the full contents of a repository at a given commit including all LFS files. A few thoughts on that:

    * In this case, I think we need to be strict that the subdirectory inside /release/ corresponds exactly to a re

[2020-11-05 20:00] jcconway commented on #33
Great, I have confirmed that the "Rewind Dropbox" option is now available for me.

I like MG's other suggestions [above](https://github.com/gentzkow/template/issues/33#issuecomment-722532232). @zkashner I'll let you take the lead on implementing any changes, but I'm available to help/discuss if needed.

[2020-11-06 00:55] zkashner commented on #33
@gentzkow that sounds like a great idea, I'll work on implementing these suggestions. I agree that the date sounds like an improvement over the hash codes, and realistically we should be doing at most one release a day, so duplication should not be much of a problem.

[2020-11-07 02:02] gentzkow commented on #33
Great. We can always append "b", "c", etc. to dates when we need to do multiples. We should write the code so it won't overwrite if one person tries to release 2020_11_06 and a different person happens to have already released something w/ that date.

[2020-12-08 22:12] lboxell opened #34 "tablefill whitespace"
@zkashner,

In one of Matt's projects, I ended up having to change https://github.com/gentzkow/template/blob/3369531210cf54820225c0bbe7c05d0aec631e80/lib/gslab_make/tablefill.py#L51

to
[code]

because my entries were getting saved as "      . " for some reason with extra whitespace. Stripping whitespace seems benign for this check of null values in tables (e.g., " NA   " or "  .  " or "    ") .

[2020-12-10 00:10] zkashner commented on #34
@lboxell thank you for flagging this. I agree that this would be a positive improvement, particularly since the tables we fill are not particularly large so the loss in efficiency would be negligible here. Just to confirm is your proposed solution as simple as changing that single line in `tablefill.py`?

[2020-12-10 01:32] lboxell commented on #34
Just changing that line worked for me in my situation.

On Wed, Dec 9, 2020, 4:11 PM Zane Kashner <notifications@github.com> wrote:

[2021-02-09 21:54] zkashner commented on #33
@gentzkow, @jcconway  looping back to this:

- I have added the ability (and corresponding directions for how to) copy over just sub-portions of a repo.
- I have added code to the script to create a `release_readme.txt` with the URL, branch name, and full hash code.
- I added a little while back the functionality to encode releases by date (+ letter appended if needed).

If you have any other sugg

[2021-02-09 22:16] jcconway commented on #33
Thanks @zkashner! Overall this looks good to me.

One minor comment/suggestion: If I understand correctly, the current script makes a release from all files in the current working directory. I can imagine situations in which one might want to include/exclude certain types of files in the release, and so could imagine including a reference in the wiki to [rclone filtering](https://rclone.org/filter

[2021-02-09 22:30] zkashner commented on #33
@jcconway thanks for the feedback! I added that link.

[2021-02-10 14:00] zkashner commented on #30
@Houdanait I am hoping to wrap this issue up, and would love your feedback after we used this updated version of the template on the FB project. Did you find it difficult to use? Would adding a feature to alert you to when your conda env is out of date be useful or not worth the trouble to create?

[2021-02-10 16:14] Houdanait commented on #30
Hey @zkashner, i remember finding this version with updated and accurate instructions easier to use than other repos thank you so much for creating this. I'm not sure whether adding a version to alert of out of data conda would be really worth it though?

[2021-02-10 17:11] gentzkow commented on #33
Thanks @zkashner. This sounds good to me.

One very minor point: Jesse and I were discussing harmonizing the gentzkow and gslab RA manuals, and one decision we made is that all readmes should be .md rather than .txt. If you could change that here and in our RA manual that would be great.

Otherwise, cleared to wrap this up.

[2021-02-11 02:01] zkashner commented on #33
@gentzkow sounds good! I just changed the script so the `release_readme` is a `md` file rather than `txt now. Additionally, I changed any reference to a `readme.txt` in both manuals to `readme.md`. I left references without a file extension as they were.

If that is not what you meant, please let me know!

### Summary

In this issue we figured out a way to version external data for completed proje

[2021-02-11 02:01] #33 closed

[2021-02-11 02:03] zkashner commented on #30
@Houdanait thank you! I am glad that you liked it.

In that case: @gentzkow, I believe that we have converged upon a solution--and actually have tested it on a real project (albeit one with fake data, but nonetheless)! If you have any comments please let me know, but I believe that this should be ready for feedback (and potentially incorporation).

[2021-02-11 18:12] gentzkow commented on #30
Great. Thanks @zkashner! This sounds excellent.

Where do we stand on the potential extensions you mention [here](https://github.com/gentzkow/template/issues/30#issuecomment-695106597)?

[2021-02-11 18:21] zkashner commented on #30
@gentzkow I have held off on implementing these extensions as I have considered them more. I would love your feedback on what you think about them.
1. I wonder if this sort of "notification" would be annoying to people (and asked Houda about this [here](https://github.com/gentzkow/template/issues/30#issuecomment-776824778)). I am leaning towards thinking it would be more helpful than annoying, so

[2021-02-11 18:27] gentzkow commented on #30
Thanks!

(1) If this is just a warning message I get in the terminal window when I run the build script, the annoyance cost seems like it can't be all that big. So I'd be in favor of implementing.

(2) Stata ado files are very small, so I wouldn't worry about the repo size. And the added robustness + reduction in setup steps seems valuable. Let's implement!

(3) Agree that it's better not to do th

[2021-02-17 18:46] zkashner commented on #30
@gentzkow checking back in on this:

I just implemented the conda status warning check that we discussed above and refactored some to replace a deprecated module. This should be ready for your assessment.

[2021-02-17 18:48] zkashner commented on #34
@lboxell circling back to this. Just implemented and pushed.

[2021-02-17 18:48] #34 closed

[2021-02-19 23:53] gentzkow commented on #30
@zkashner Awesome work here. Here are some comments based on doing an install + run of the repo. Some fit under this issue and some may belong in separate issues.

1. Can we write README.md so it works both for users who are installing miniconda and for users who already have full anaconda installed? If I read the beginning "we manage... using miniconda" I might think I have to install miniconda.

[2021-02-19 23:58] gentzkow commented on #30
(9) Another thought on config_user.yaml -- could we get rid of the template file in /setup/ and instead put the template as config_user.yaml at the root, but still include it in .gitignore so changes to it don't get committed?

[2021-02-20 00:03] gentzkow commented on #30
(10) Can we revisit the question of whether to have ROOT detected automatically in make.py? I'm thinking we could replace

with just

This has the cost that if we move a module up or down a level in the directory hierarchy we have to change all the make.py scripts. But this seems like it might be a price worth paying to get rid of this failure point and not have the weird feature that the template

[2021-02-20 00:05] gentzkow commented on #30
(11) Per general plan to keep readmes as .md let's change README.txt -> README.md in /raw/

[2021-02-20 01:32] zkashner commented on #30
@gentzkow thank you so much for your feedback! I will go about making these changes. To begin to answering your questions:

(1) Yes I can definitely make that change. The current design works for both miniconda and conda, so it will be an easy change!
(2) That sounds like a great way to streamline it. I will do that.
(3) I think we should be able to do that. I will get to working on that, it seems

[2021-02-21 01:43] gentzkow commented on #30
All sounds good. Thanks!

[2021-03-02 19:43] zkashner commented on #30
@gentzkow to check in on this: I have updated the repo per nearly all of the discussion we had previously.

A few comments. The way that I resolved your comments 3 & 9 is by highlighting the current behavior. There is no way to have `config_user.yaml` exist and not be tracked. However, we can not track `config_user.yaml` but guarantee that it is there by copying it over from `setup/` during repo s

[2021-03-02 21:26] gentzkow commented on #30
Thanks @zkashner

On (3), (9): I am fine dropping (9) and not trying to have config_user.yaml exist in the repo but not be tracked subsequently. I'm also fine having `config_user.yaml` created by setup.

On (8): OK. The main thing I'd worry about is how to make sure updates to gslab_make get pushed to existing repositories. I'm fine keeping gslab_make local in /lib/ and doing updates to it manuall

[2021-03-02 21:29] gentzkow commented on #30
Hmm... additional thought on (3) -- What script would create config_user.yaml? I think the reason we moved away from that before was that we wanted check_setup.py to really be just checking (not doing any setup) and we didn't want to add an additional setup.py script layer. Maybe best just to go with my original suggestion of keeping this part of manual setup but also making the scripts use defaul

[2021-03-02 21:32] gentzkow commented on #30
Also, it doesn't look to me like (6) was implemented... I still have setup_stata.do... ?

Is it possible there are some changes that weren't pushed? Or that there's some other reason I'm not looking at the right version of the template?

[2021-03-02 23:08] zkashner commented on #30
@gentzkow thank you for your feedback! Sorry for all confusion.

On (3)/(9) I didn't realize that we had moved away from that before. It is the current behavior of the repo (before any of my changes) that `check_setup.py` copies the (essentially blank) `config_user.yaml` to the root of the repo and then continues to check. I think that from a style perspective it makes sense to (even if they don't

[2021-03-02 23:27] gentzkow commented on #30
No problem.

Maybe we could do this: Instead of having check_setup.py automatically create config_user.yaml, what if it pauses with a msg saying "It looks like you have not created the configuration file config_user.yaml. Would you like me to create a template version for you now? (Y/N)"

That seems more consistent w/ the behavior of a "check" script rather than an "install" or "setup" script.

On

[2021-03-02 23:38] zkashner commented on #30
@gentzkow thank you for the feedback
I can implement that for the `check_setup.py`. The only thing is that as it stands the run procedure would break if they chose N. It would be possible but slightly messy to make this robust to that. I create `.conda_info` in running `make.py` to be able to track whether the conda env is up to date, so there are other instances of writing files that are somewhat

[2021-03-02 23:56] gentzkow commented on #30
OK. Fine to stick to the status quo if you think it's best.

[2021-03-04 18:31] zkashner commented on #30
@gentzkow ok, thank you! In that case I believe all your suggested changes have been implemented.

[2021-03-16 16:27] #30 closed

[2021-03-30 20:54] Houdanait commented on #23
@gentzkow maybe we can close this issue ? the `tv` and `chips`example does run in the template

[2021-03-30 20:57] Houdanait opened #36 "Edit ReadME for accurate installation instructions"
Hello @gentzkow,
The step (2) of the README to install `conda` and `oracle_jdk` says :
[code]

This turns out to be an erroneous syntax, and should be :

[code]

If you're ok, i am going to amend the README for correct instructions.

EDIT: I am not able to assign myself, and probably don't have admin on this repo to make ammendments on branch/merge.

[2021-03-31 00:32] gentzkow commented on #23
agreed

[2021-03-31 00:34] gentzkow commented on #36
Yes. Thanks! Looks like the other Homebrew syntax was [recently deprecated](https://github.com/ansible-collections/community.general/issues/1524).

Remember to make yourself the assignee.

[2021-03-31 16:47] Houdanait commented on #23
**Summary of this issue**

The goal of this issue was to add a real example that could be run in the template within the full pipeline, to build, clean and make a plot on two csv  datasets ` tv.csv `and `chips.csv`.

This was added  and merged to the template in PR #28

[2021-03-31 16:49] Houdanait commented on #36
@gentzkow Matt, I am not able to make myself assignee on any of the issues related to your template (cf comment [above](https://github.com/gentzkow/template/issues/36#issue-845253511)) there is no option for me to assign myself
<img width="467" alt="Screen Shot 2021-03-31 at 9 48 27 AM" src="https://user-images.githubusercontent.com/67783023/113181061-3f09d480-9206-11eb-9df5-5edac9bbb6bc.png">

Si

[2021-03-31 16:50] Houdanait commented on #23
@gentzkow unfortunately I do not have rights to close issues on your template, would it be possible for you to give me rights so I can also edit the template README cf. #36  ?

[2021-03-31 17:40] gentzkow commented on #36
Looks like you weren't added to that repo as a collaborator. I just sent
you an invite.

[2021-03-31 21:15] Houdanait commented on #36
Thanks  ! @gentzkow

[2021-03-31 22:24] Houdanait commented on #36
**Summary of this issue**

The goal of this issue was to change the indicated syntax for brew download in the ReadMe as described [here](https://github.com/gentzkow/template/issues/36#issue-845253511).
Change of syntax was implemented in commit [e36f0de0e](https://github.com/gentzkow/template/pull/37/commits/e36f0de0e93f19efda8c330a6840b4c7db6dc645) and merged to master in [2f04d899c6](https://git

[2021-03-31 22:24] #36 closed

[2021-03-31 22:25] Houdanait commented on #23
**Summary of this issue**

The goal of this issue was to add an example to the template that can be run within the full pipeline. This was implemented via the build, clean and plot of two csv `chips.csv` and `tv.csv `.

Changes were merged to master in PR #28.

[2021-03-31 22:25] #23 closed

[2021-04-28 20:11] Etang21 opened #38 "Include gslab_make as a Git submodule"
In this issue, we will move to including `lib/gslab_make` as a [Git submodule](https://www.atlassian.com/git/tutorials/git-submodule). We currently do not track which version of `gslab_make` is used in this template; including `gslab_make` as a Git submodule will allow us to consistently track the version of `gslab_make` which is being used, and easily pull `gslab_make` changes into projects.

Thi

[2021-05-05 02:02] Etang21 commented on #38
@gentzkow I think I still don't have admin access to `gentzkow/template`. Could I possibly have those keys to the kingdom?

[2021-05-05 16:46] gentzkow commented on #38
done!

[2021-05-06 01:14] Etang21 commented on #38
Thanks a bunch!

[2021-05-11 23:54] Etang21 commented on #38
In my branch, I've set up `gslab_make` as its own submodule, but using submodules somewhat alters the directory structure of the template. Concretely, our library folder now carries around the extra files from `gslab_make`, so it looks like:

[code]

It is apparently impossible to make a submodule out of only one folder in a repo, as submodules necessarily include all folders. I see a couple optio

[2021-05-12 00:33] gentzkow commented on #38
Thanks @Etang21. Sort of annoying. What if we just changed the subdirectory name in the gslab_make repo from `gslab_make` to something else like `source`? Then we'd change paths in the template from `lib/gslab_make` to `lib/gslab_make/source`.

[2021-05-12 04:00] Etang21 commented on #38
@gentzkow hm, yes, that does sound better! I think this makes the `gslab_make` repo structure more readable as a standalone repo, too. I'll take this approach.

[2021-05-12 04:01] Etang21 commented on #38
Note to self: update README with instructions to make sure that users [pull submodule files](https://stackoverflow.com/questions/3796927/how-to-git-clone-including-submodules) when cloning this repo for the first time.

[2021-05-13 22:24] Etang21 commented on #38
@gentzkow I've renamed the `gslab_make/gslab_make` folder to `gslab_make/source` in an [issue branch](https://github.com/gslab-econ/gslab_make/issues/37) and [PR](https://github.com/gslab-econ/gslab_make/pull/38) of the `gslab_make` repo, along with associated paths and references in the `gslab_make` repo. Note that this folder is considered a Python [package](https://docs.python.org/3/tutorial/mo

[2021-05-13 22:31] gentzkow commented on #38
Thanks @Etang21. That makes sense and your suggestion seems fine to me. This issue is undoubtedly how we ended up with `/gslab_make/gslab_make/` in the first place.

Does this mean that most Python packages on Github have `/package_name/package_name/` when they are cloned?

[2021-05-13 22:39] Etang21 commented on #38
@gentzkow great, sounds like a plan!

And yes, that's what it looks like! For example, it seems that [NumPy's repository](https://github.com/numpy/numpy) follows this structure, as does the popular [requests](https://github.com/psf/requests) library.

[2021-05-13 23:30] Etang21 commented on #38
Interesting -- it looks like what we feared has already happened. The `gslab_make` code in this template's copy has already diverged from that of the `gslab_make` repo.

In particular, in [this commit](https://github.com/gentzkow/template/commit/25c0ad9f893d4a9a68363cfde9111e7fb5719201) for #30, we added the `check_conda_status` function, which is not present in the `gslab_make` repository. @gentz

[2021-05-14 00:34] gentzkow commented on #38
Thanks! Definitely do migrate those changes back to `gslab_make` if you can. It's not currently used anywhere other than `gentzkow/template`. The gslab flavor uses a version of the tools from the [gslab_python](https://github.com/gslab-econ/gslab_python) repository.

[2021-05-14 00:53] Etang21 commented on #38
@gentzkow great, sounds good! Thanks for clarifying which set of tools the gslab template uses.

[2021-05-26 00:50] #38 closed

[2021-08-09 16:36] gentzkow opened #40 "Review current template"
* Clone & run the template
* Look over documentation
* Let me know anything that breaks or is unclear
* Set up a time to discuss how we could make it simpler, more intuitive, or more robust

[2021-08-10 03:15] szahedian commented on #40
@gentzkow here are my initial thoughts. I ran the repo mostly without issue. I had two small hiccups, which I describe in the first two bullets below.

Proposed edits to `README` and Wiki:
* Step 4 of setup, running `check_setup.py`, should come after step 6, installing the `gslab_make` submodule. Currently, step 4 depends on `gslab_make`, which only gets fetched in step 6.
* In `check_setup.py` l

[2021-08-10 17:23] Etang21 commented on #40
@szahedian thanks so much for such a thorough runthrough and read of the template setup! Just wanted to second your bullet point (2) -- you’re totally right, that’s my bad for not catching that in https://github.com/gentzkow/template/issues/38 :) it stems from our import of `gslab_make` as a submodule earlier in the year.

The other suggestions look great to me too (and a good point on `setup_r.r`

[2021-08-10 23:09] gentzkow commented on #40
@szahedian Thanks! This is excellent.

1. All of your proposed edits to `README` and Wiki look good to me. Why don't you open a follow up issue for yourself to implement.

2. I agree with your point about `setup_r.r`. I'd be in favor of shifting the protocol to put these in `/lib` just as we do with Stata. @Etang21 @Houdanait do you foresee any problems with this?

    In a similar spirit, I wonde

[2021-08-11 00:00] Houdanait commented on #40
@szahedian Thanks a lot for this! I really like your suggestions.
On point 2 [above](https://github.com/gentzkow/template/issues/40#issuecomment-896370646), I do not anticipate any problems of this, I actually think this would make it 'official' within repositories. A few repositories had their R libraries stored in` /lib ` without appearing in the `setup_r.r`  which led to some errors when runnin

[2021-08-11 02:16] Etang21 commented on #40
Following up on [point 2](https://github.com/gentzkow/template/issues/40#issuecomment-896370646): Moving to use `lib/R/` instead of `setup_r.r` seems good to me! I'll add that even in a project with as much R coding as DigitalAddiction, we were able to install all R dependencies from conda, and didn't need to install any packages from [setup_r.r,](https://github.com/gentzkow/DigitalAddiction/blob/

[2021-08-11 02:29] szahedian opened #41 "Edits to Wiki and README"
This issue is a follow-up to #40. Its purpose is to implement edits to the repo Wiki and README outlined in [this comment](https://github.com/gentzkow/template/issues/40#issuecomment-895696134).

[2021-08-11 02:58] szahedian commented on #40
@Etang21

Yes, you're right! Installing packages using conda and pip via `conda_env.yaml` is the default option. Only package unsupported by these should be downloaded in other ways.

[2021-08-11 04:56] szahedian commented on #40
@gentzkow

Docker can automate long setups and offers perfect replicability. However, external files, returning outputs, and Stata installation may be a hassle (but [possible](https://github.com/AEADataEditor/docker-stata)). I think Docker could work well to demonstrate the replicability of relatively complex projects; maybe when a project is ready for submission, we could package it as a Docker c

[2021-08-11 17:27] gentzkow commented on #40
Thanks all

@Etang21: Yes, I did mean download_stata_ado.do -- sorry!

On Docker, I think the ability to work with Stata would be a must-have for it to be worth our using Docker. @szahedian Do you think it would be relatively easy to first create an example container w/out Stata then test out how clunky dealing w/ the licenses etc. for Stata would be?

On `input.txt`, I agree with that point. @Eta

[2021-08-11 19:27] szahedian commented on #40
@gentzkow
1. I think creating a container first without Stata is a good approach. I can start on that.
2. I've poked around for more formal ways of doing this. I haven't turned up anything so far, but will keep looking.
3. The way we're handling `config_user.yaml` right now does seem somewhat common (see [this post](https://stackoverflow.com/questions/4743770/how-to-manage-configuration-files-when

[2021-08-11 19:31] Etang21 commented on #40
Neat, thanks @gentzkow for clarifying the Stata point!

Regarding `input.txt`, I am personally of the opinion that keeping `input.txt` would be preferred to directly referencing filepaths in other modules.

Stylistically (or psychologically?), I think we're aiming to make these modules as self-contained as possible, so that we could rip one module out of the entire repo, still have it almost run p

[2021-08-11 20:34] gentzkow commented on #40
Great. Thanks all! @Houdanait let us know if your experience w/ `input.txt` matches @Etang21's above. If you concur, I'm thinking the best approach is to keep what we have but also include a note in the documentation that for very small projects with limited dependencies users may opt to remove `input.txt` and allow code to link directly.

@szahedian Thanks for all the great thoughts on the config

[2021-08-11 20:36] szahedian commented on #41
Confirming that edits to Wiki listed [here](https://github.com/gentzkow/template/issues/40#issuecomment-895696134) have been made.

[2021-08-11 20:47] Houdanait commented on #40
@Etang21 @gentzkow @szahedian Thank you so so much !!

I would definetly like to keep `input.txt.`

In big projects where we try to compartmentalise as much as possible, having a file that keeps a track of all the links needed across different trees and “draws” the repository is primordial. We are then able to change the structure of the repository via this single file which proves to be extremely

[2021-08-11 20:57] #41 closed

[2021-08-11 21:02] szahedian opened #43 "Docker pilot run"
In this issue, we will demonstrate replication of a simple project within a Docker container.

[2021-08-12 16:38] gentzkow commented on #40
Great. Thanks @Etang21.

@szahedian Would you be up for opening and issue for yourself to update that `gslab_make` function? It will be useful in any case for you to get familiar w/ that code.

[2021-08-12 17:23] szahedian commented on #40
Yup @gentzkow I'm happy to work on that! Just created the [issue](https://github.com/gslab-econ/gslab_make/issues/41).

[2021-08-13 20:07] szahedian commented on #43
@gentzkow I've written a Dockerfile that produces a minimal working Docker image that could be used to replicate results. Right now, it builds an image that sets up the dependencies and environment required for running `run_all.py`. It is a minimal version, so it doesn't support Stata or external dependencies.

The below steps set up and run a Docker container that recreates all `output` files wit

[2021-08-13 21:35] szahedian commented on #40
@gentzkow could you give me contributor permission to [gslab_make](https://github.com/gslab-econ/gslab_make)? Right now I'm unable to create branches.

[2021-08-13 21:53] gentzkow commented on #40
Sure. Should be good now.

[2021-08-13 22:51] gentzkow commented on #43
Thanks @szahedian! Very cool

I've installed Docker and played around with their tutorial a bit. On the build step above I get an error when installing R:
[error_msg.txt](https://github.com/gentzkow/template/files/6985464/error_msg.txt)

A couple of questions about how this would work:
* It seems like this image is built to run one specific application (run_all.py). Is it possible to build the ima

[2021-08-14 01:35] szahedian commented on #43
@gentzkow

Hmm that's interesting. I've experimented some more locally and that section of the `Dockerfile` is redundant anyways. I've pushed an update that will hopefully get around that.

Yes it is possible to take control of a running container through shell commands as if you had ssh-ed into it. The simplest way is to specify interactive mode. You can try this out with something like `docker r

[2021-08-14 21:16] gentzkow commented on #43
Thanks @szahedian.

Still getting an error; this time on the Lyx step
[error_msg.txt](https://github.com/gentzkow/template/files/6987195/error_msg.txt)

I'm a bit confused by this:

It sounds at first glance like "the repo is not in the container; the repo is in the container." Can you clarify?

An ideal usage pattern to support would be
1. User clones project repo
2. User spins up Docker image fr

[2021-08-15 03:30] szahedian commented on #43
Darn! I've pushed some further edits that will hopefully allow it to build and be run interactively (details below). @gentzkow if this doesn't fix it we can go through a more deliberate debugging process.

I can see how that may have been unclear. Let me try to do better. The cloned repo exists as bits on your computer's disk, which your OS is able to address. When you mount the repo into the Dock

[2021-08-15 04:10] gentzkow commented on #43
Your response to the "in the container" question is super clear. Thanks!

Still getting errors. I tried commenting out the Lyx install but I get an error on the Conda install step as well. Shucks.

Rather than spend a bunch of time debugging this, though, what about if you go ahead and push the image to Docker Hub then I try pulling the image from there? In some ways that's actually a better test

[2021-08-16 17:40] szahedian commented on #43
@gentzkow

I pushed the build to Dockerhub. It should be accessible by running:
[code]

The answer to this question depends on the application you'd like to run graphically.

A Jupyter notebook started in Docker can be accessed graphically. You can test this for yourself by running `docker run -p 8888:8888 -v $(pwd):/home/jovyan/work jupyter/minimal-notebook`. Then you can access notebooks through

[2021-08-19 16:14] gentzkow commented on #40
@szahedian Checking in on status of this issue. If you feel like the goals of this issue have been completed (seems to me you've definitely reviewed the template!) you can go ahead and close w/ a final comment per [here](https://github.com/gslab-econ/ra-manual/wiki/Issues#closing-an-issue).

[2021-08-19 16:16] gentzkow opened #44 "Add conda activate step before check_setup.py in README"
Minor: Current instructions in the README direct the user to run `check_setup.py` before running `conda activate`. I would suggest we add the `conda activate` command to step (3) under Setup.

If you agree, please implement.

[2021-08-19 16:35] gentzkow commented on #43
Success! This works great. I successfully ran run_all.py from the container and also played around with running some other scripts a la carte. I think this would be an excellent way to ship replication code.

A couple of things I think we might want to do when we create an actual replication archive:
1. Replace the gslab_make git submodule with code committed directly to the repo. The submodule is

[2021-08-19 16:42] gentzkow opened #45 "Simplify make.py"
I thought this might be a good time to take a look at the structure of the `make.py` scripts and see if there's any way we can streamline them.

Here are some comments / questions

1. The "Load GSLab Make" section is awkward. I don't remember what caused us to have such a complicated loading step here. It would be great if we could just say `import gslab_make` at the top.

2. "Check if running fro

[2021-08-19 16:45] gentzkow commented on #45
(5) One thing we could consider would be to move the definition of the default PATHS to `config.yaml`. Then we could remove this from all the `make.py` scripts. In this case we might need to set the location of `gslab_make` explicitly after line 10 so that can be imported without knowing the `PATHS` variable. We could also change lines 35-36 to reference `ROOT/config.yaml` and `ROOT/config_user.ya

[2021-08-19 20:43] szahedian commented on #43
Awesome! Glad to hear it works.

1. I believe git submodules are tied to a specific repo commit (I've tested this with a dummy branch), so the submodule will only receive changes from `gslab_make` if we commit those changes inside `template`. On the other hand, it's not too much work to just re-clone new version of `gslab_make` into `/lib` when we want to update them inside `template`. If you feel

[2021-08-19 21:14] gentzkow commented on #43
Great! I don't think we want to commit gslab_make directly to the template. We just made the switch to submodules in #38 and I think that will work great for our internal work. What I was thinking of was flipping over to direct commit when we release replication packages. We can decide that down the line.

For (2), I'm thinking we might just want to add an option to config.yaml called suppress_git

[2021-08-19 22:08] szahedian commented on #43
Concerning (2), those warnings are caused by `gs.get_modified_sources(PATHS, inputs + externals)` in the make scripts. We could suppress those warnings at the level of the make script by checking for `suppress_git_warnings` and conditioning the call to `gs.get_modified_sources()` on its value.

A more considered approach may be to suppress those warnings at the level of `get_modified_sources`; che

[2021-08-20 16:22] gentzkow commented on #43
Thanks. We could have `get_modified_sources` read directly from `config.yaml` to check that. I guess it would be more elegant to replace `PATHS` with a structure that can include both paths and options and populate that from `config.yaml` only once.

It occurs to me that we'd probably *always* want to disable those warnings when someone runs `run_all.py`, even if it's not part of a replication pac

[2021-08-20 22:21] szahedian commented on #44
I agree with this change! I combined the general instructions previously under "Usage" to step 3 of "Setup". If it looks good I'll go ahead and open a PR and merge.

[2021-08-20 22:36] gentzkow commented on #44
Yes!

[2021-08-20 22:41] szahedian commented on #40
**Summary:** Several members of the team discussed improvements to the template. The discussion spawned several new issues: #43 and gslab-econ/gslab_make#41 followed directly from this discussion; #44 and #45 followed indirectly.

[2021-08-20 22:41] #40 closed

[2021-08-20 22:46] #44 closed

[2021-08-20 23:04] szahedian commented on #43
I'll keep thinking about this. I propose we pause on "suppress git warnings" until we close #45, because how we signal to suppress warnings may depend on changes we make to the structure of `make.py` scripts.

[2021-08-31 06:13] szahedian commented on #45
(1) @gentzkow I can confirm that the following shorter and sweeter import statement does work:
[code]
From here, it's a matter of how succinct we want to be. Getting it to one line would just require more time studying the python import system.

(2) Lines 39-40 check if the conda requirements listed in `conda_env.yaml` have
changed since the last run of any make script. If so, a warning is issued.

[2021-08-31 17:19] gentzkow commented on #45
(1) Great. No need to get down to one line. I think we should use replace `..` with `ROOT` in the path to `gslab_make` so things don't break if `ROOT!='..'`.

(2) Odd. Can you use git blame to figure out where this was added and see what the context was (via the corresponding git issue)? Unless there's a really good reason to have it, I'd vote we just drop this and maybe throw a note on the projec

[2021-09-02 21:37] gentzkow commented on #45
(1) Sure

(2) OK. Doesn't look like anything we felt strongly about then so fine to drop

(3)(a) Great.

(3)(b) Sorry, what I meant is if you call `clear_dir(['output'])` and `/output/temp`  exists it would be cleared but not deleted. Is that right? In any case, I don't think we need to change the behavior of `clear_dir()`. Having it create the directory can be helpful in the opposite case where y

[2021-09-03 05:38] szahedian commented on #45
(3b) Hm I just tested `clear_dir()` and nested directories are deleted along with files (looks like it happens [here](https://github.com/gslab-econ/gslab_make/blob/32cb0861ff4c0d813870adfb0fe7238dca228c32/gslab_make/modify_dir.py#L178)).

Are there scenarios where we'd want `clear_dir()` to fully clear directories? For reference, outside of tests, `clear_dir()` is only called in `data/make.py`, `a

[2021-09-03 18:10] gentzkow commented on #45
OK. Got it. Let's not worry about it for now.

The use case in the past had been where you want to have some directory structure in `output` that the code can assume is in place. But it's probably more transparent in that case to have `clear_dir()` just delete everything then add lines to `make.py` to set up those directories explicitly.

[2021-09-03 20:17] szahedian commented on #45
Ok, so for the purposes of this issue I'll just delete [this line](https://github.com/gentzkow/template/blob/66412ea98e0111fe143d44450ba8cdc92c59a396/data/make.py#L49). We can make a note in the Wiki saying that `/output/temp` is the right place for temp files, and that the directory can be created by adding `gs.clear_dir(['output/temp'])` to the make script.

I'm going to open an issue in [gslab_

[2021-09-03 20:47] szahedian opened #47 "Stata integration for Docker"
In #45, we did proof of concept of replication in Docker. In this issue, we will extend the basic Docker build to support Stata.

[2021-09-03 20:51] gentzkow commented on #45
Thanks!

Sounds good on the first point.

On the second, also looks good. But I don't think we want to define `root` in `config.yaml`. That's something that may vary across modules depending on their location and I like having it explicit in `make.py`. So maybe we put everything else in `config.yaml` and have `root` passed as an argument to the analogue of `update_paths()`?

[2021-09-09 07:18] szahedian commented on #45
As I was working on Docker Stata integration, I ran some of the template do-files in `analysis/code/lib` and `data/code/lib`. It seems the `temp` directory, reference to which within make-scripts we agreed to eliminate, was used by these do-files. I have two questions about this.

1. Do we know why Stata and R files are in `code/lib`? Is this simply for organization? I traced these files' creation

[2021-09-09 18:07] szahedian commented on #47
@gentzkow I've gotten Stata up and running inside a Docker container. Right now, only two additional setup steps are required:
1. Update `/docker/config_docker.yaml` with Stata license serial number, code, and authorization.
2. Copy Stata Linux tar file into `/docker` directory.

The updated `Dockerfile` should take care of all the rest.

Though, as I see it, we face an additional hurdle. I'm not

[2021-09-09 18:53] gentzkow commented on #45
Thanks!

(1) We made a decision a while back to use only python scripts in the main template so that it would run out of the box even for users who don't have Stata or R installed. I think we just threw the Stata and R flavors of the scripts into `/lib/` to get them out of the way until we decided on a more permanent solution. I think we should delete them now.

(2) We definitely want to support S

[2021-09-09 20:25] gentzkow commented on #47
Interesting. Thanks for testing this out.

I think the question then boils down to how big a gain if any there is to the build your own Docker image approach relative to just having people install and setup the repository in the normal way. I.e., if we had 20 people do one or the other what would be the frequency with which they'd run into bugs / problems that prevent things from working.

Do you

[2021-09-09 22:24] szahedian commented on #47
I think Docker replicability should be just about perfect if the replicator is [using the same OS](https://stackoverflow.com/questions/33112137/run-different-linux-os-in-docker-container) i.e. for our purposes, if the replicator is using a Mac. One caveat is that it may not be as portable between [x86 and ARM machines](https://containerjournal.com/features/portability-vms-still-beat-docker-contain

[2021-09-10 17:13] szahedian commented on #45
Makes sense about (1). I've deleted the `lib` subdirectories and relocated those files to `/examples`.

In my latest commit, I've followed the idea of `/examples/stata` and `/examples/r` mentioned in (2). I think the structure of these directories is intuitive, and I've added a brief explanatory section to the README.

I've copied the code from `/examples` into the main modules and run them. The R

[2021-09-12 23:13] szahedian commented on #45
Yes, I believe this is how the template is set up to be used. From the `README`: "We keep all non-base Stata ado files in the lib subdirectory."

Concerning your second point, I moved `matrix_to_txt.ado` and `standardize_env.do` to `/examples/stata/lib`, and added a full description of what to copy over in the `README`.

We definitely could, as you suggest, copy the functions from `gslab_stata` to

[2021-09-13 17:22] gentzkow commented on #45
Great. This looks good. Maybe we could just include a link to the `gslab_stata` repo in the part of the documentation where we discuss Stata.

[2021-09-13 17:30] gentzkow commented on #47
Interesting.

Lack of portability across OS / processor does seem like a limitation. If we went forward w/ Docker we could do some testing to see what we need to do to make everything robust to this.

For the step of downloading the Stata executable zip, do you know whether we can include a link to this in the documentation that will point to a stable version of Stata (so we don't have conflicts l

[2021-09-13 18:36] szahedian commented on #45
Thanks @gentzkow. In addition to linking `gslab_stata` in the `README`, I renamed `/examples` as `/extensions`, which feels more apt. I also moved the setup scripts for R and Stata packages from `/setup` to `/extensions/setup`.

[2021-09-13 19:06] gentzkow commented on #45
Misc comment: Let's go ahead and remove `ondeck.lyx` and `text.lyx` from `/papers_slides/` (and remove the corresponding lines in `make.py` and the associated output files). Those files are more specific to our lab and they're easy to create when needed.

[2021-09-13 19:08] gentzkow commented on #45
Another: What about putting separate readmes inside `extensions/r/` and `extensions/stata/`? I think that would be helpful for people who are just browsing the template and may not have read through the main readme fully.

[2021-09-13 21:34] szahedian commented on #45
Just took care of `ondeck` and `text`. And thanks for the suggestion of additional `README` files. I've added those as well.

[2021-09-13 22:09] szahedian commented on #47
I'm not sure about including a link pointing to a stable version of Stata. I believe license holders download the tar file from [this page](https://download.stata.com/download/). But I haven't accessed that page, because I got Stata from the Econ department, who instead shared a Google Drive folder containing the tar files and my license credentials.

However, the do-files in `template` all begin

[2021-09-13 22:22] gentzkow commented on #47
Got it. Thanks!

[2021-09-15 23:36] szahedian commented on #45
Note to self: Before merging, need to update [Wiki](https://github.com/gentzkow/template/wiki) so that it mentions `/extensions` and related changes.

[2021-09-17 22:29] szahedian commented on #47
It sounds like if we wanted to roll out Docker replication packages, we first want to test the Docker build on different kinds of machines and gather feedback.

If the current version has a small, known failure point, it's possible that working around this will be low cost. Maybe we can observe how users respond to the current version, and judge the marginal value of Docker down the road. We can a

[2021-09-18 17:25] gentzkow commented on #47
Great! That sounds good. Why don't we wrap this and then open a new issue for testing. We could have lab RAs test on various Macs, then open up testing to Windows machines (for that we could ask Jesse and/or some of his Brown RAs) and maybe some Linux instances as well.

[2021-09-20 16:11] szahedian opened #49 "Testing Docker integration"
Following #43 and #47, this issue will test the portability of `docker build` across multiple OS. Tentatively, this should include ARM Mac, x86 Mac, Windows, and Linux machines, per [this comment](https://github.com/gentzkow/template/issues/47#issuecomment-922343173).

[2021-09-20 16:24] szahedian commented on #47
**Summary:** In this issue, we built a Docker image with a Stata installation. We tested this with the base `gentzkow/template` Stata submodule files.

We close this and #43, with the expectation that progress made on these issues will be merged once we complete #49.

[2021-09-20 16:24] szahedian commented on #43
**Summary:** In this issue, we built a Stata-less Docker image that we pushed to Dockerhub and tested.

We close this and #47, with the expectation that progress made on these issues will be merged once we complete #49.

[2021-09-20 16:24] #43 closed

[2021-09-20 16:24] #47 closed

[2021-10-04 18:13] #45 closed

[2021-11-09 08:25] Houdanait opened #50 "Conda version and packages conflicts"
Hello @gentzkow
In updating the` ad-price-drivers` to this template, I noticed that the user may run into several issues due to the multiplicity of packages needed in the conda environment.

Let me be more specific.
In the presence of many packages (such as R packages), the common dependencies needed for different packages may run into conflicts in the conda environment. There is ongoing documenta

[2021-11-09 16:27] gentzkow commented on #50
Thanks @Houdanait. I think we should avoid downgrading Conda if at all possible. Ideally we should figure out a way to restructure the set of packages we're requiring to avoid this issue.

I guess at worst we can require the user to install some R packages locally (outside of Conda)?

[2021-11-09 18:47] Houdanait commented on #50
Hello @gentzkow, thank you for your feedback!
I looked around this morning to see if there was a workaround this, but it seems that you are right and the best solution would be to ask users to install some R-Packages locally.

We could add to the ReadMe a sentence such as :

`If your projects requires many packages that may lead to dependencies conflict in your conda environment, we suggest you in

[2021-11-10 02:09] gentzkow commented on #50
Hmm. I'd vote we not add this to the ReadMe. I think we can just address it
for ad-price-drivers however we need to. If it continues to be a persistent
issue we can think about how to better address it in the template.

[2021-11-10 02:12] Houdanait commented on #50
Ok @gentzkow thank you so much for your feedback! I will close this issue then and keep this in mind for the future and we can comeback to it if needed!

[2021-11-10 02:14] Houdanait commented on #50
**Summary of this issue**

I opened this issue to discuss the potential change to the ReadMe to explicit ways to overcome `conda` dependencies conflicts in projects that may involve several packages.
After discussion on this thread, no change will be implemented, but we may come back to this later if the issue is persistent.

[2021-11-10 02:14] #50 closed

[2021-12-10 21:07] gentzkow commented on #49
@szahedian Just flagging that this issue seems to be stale.

Let me know if you think you'll have bandwidth to look at it in the next month. If not we can close and migrate back to the outline.

[2021-12-11 18:04] szahedian commented on #49
@gentzkow thanks for the bump. I'm not sure I'll have the bandwidth to complete this in the next month. Can you clarify what you mean by "migrat[ing] back to the outline."

[2021-12-11 20:36] gentzkow commented on #49
Sorry that wasn't clear -- I meant we could close the issue and add a note to the outline [here](https://github.com/gentzkow/template/wiki/Project-Outline) that we would revisit it (including a link to this thread).

[2021-12-14 19:58] szahedian commented on #49
**Summary:** The objective of this issue was added to the [project outline](https://github.com/gentzkow/template/wiki/Project-Outline) and left for future work.

[2021-12-14 19:58] #49 closed

[2022-02-28 18:02] szahedian opened #51 "Fix issue with lfs files in child repos"
After creating a new repo using the template, we noticed the following error upon cloning:
[code]

From [this](https://github.community/t/lfs-support-for-template-repos/122449) thread online, we determined that the cause of the issue is cloning files stored in the template with git-lfs. These files don't properly transfer to a repo created from the template.

In this issue, we seek to correct this

[2022-02-28 19:22] szahedian commented on #51
@gentzkow from the [git-book page](https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks) on git-hooks, there is no mention of a `git clone`-specific hook. Stackoverflow posts on this topic don't turn up any satisfactory solutions (e.g. [here](https://stackoverflow.com/questions/10228065/git-hooks-is-there-a-clone-hook?noredirect=1&lq=1) and [here](https://stackoverflow.com/questions/18188933/r

[2022-02-28 21:11] gentzkow commented on #51
Thanks @szahedian. Happy to move to my suggestion in that case.

I did mean `.gitattributes`. Sorry about that.

[2022-03-01 22:52] szahedian commented on #51
@gentzkow here's an update on this. I've
1. Removed all `lfs`-related lines from [`.gitattributes`](https://github.com/gentzkow/template/blob/aa16968aef84067391527249b7ea4c5c415be521/.gitattributes)
2. Added a script [`/setup/lfs_setup.sh`](https://github.com/gentzkow/template/blob/aa16968aef84067391527249b7ea4c5c415be521/setup/lfs_setup.sh) that appends to `.gitattributes`. This approach seems mo

[2022-03-02 16:22] gentzkow commented on #51
Looks great. Thanks!!

[2022-03-23 19:41] #51 closed

[2022-04-07 23:07] gentzkow opened #53 "Review dependencies"
Take a quick look at our `conda_env.yaml` and flag any dependencies you think we could omit (either in the sense that they're not being used at all or in the sense that we could get rid of them and tweak the other code without much loss.

[2022-04-08 20:04] szahedian commented on #53
Hi @gentzkow! I've taken a look at the dependencies. In order for `python3 run_all.py` to run, all of the python dependencies in `conda_env.yaml` are required. They are either used by the `/data` and `/analysis` scripts in `template`, or are used by `gslab_make`.

We can, however, remove the [R dependencies](https://github.com/gentzkow/template/blob/d74838c1484b7e8aaeddea2bf88fd4ef7b91709f/setup/c

[2022-04-08 22:00] gentzkow commented on #53
Thanks!

Two questions:

1. Can we make `jupyter` something you only install if you want to use the Jupyter functionality of gslab_make? (E.g., if you try to run make_jupyter you get an error asking you to add that to the install?) Seems parallel to other gslab_make functions like matlab, perl, etc. where we don't require the user to have that software installed to build the template.

2. Can you

[2022-04-09 00:54] szahedian commented on #53
Thanks for these questions, @gentzkow.

1. It seems `jupyter` is required for the following reason. In `run_all.py` in `template`, we load GSLab make [here](https://github.com/gentzkow/template/blob/d74838c1484b7e8aaeddea2bf88fd4ef7b91709f/run_all.py#L23). That call invokes [`gslab_make/__init__.py`](https://github.com/gslab-econ/gslab_make/blob/c98984058dcc17e4958f8d63156c6a88cb35a996/gslab_make/

[2022-04-10 16:09] gentzkow commented on #53
Great. Thanks!

For (1), can we revise the setup to take the import out of `__init__.py` and instead have it manually added to the `run_all.py` or `make.py` scripts in the case where the user wants to run Jupyter? Or in some other way create some additional steps that allow this to only be loaded if the user affirmatively wants it?

For (2), if you're up for it, can you open a task for yourself to

[2022-04-12 00:52] szahedian commented on #53
Hi @gentzkow!

1. The `jupyter` module is required so long as it is imported in a `.py` that [`__init__.py`](https://github.com/gslab-econ/gslab_make/blob/148e3d1841f6ade5c49fe5dac8e24f99559abb1f/gslab_make/__init__.py) imports from. Even if `__init__.py` no longer imports `run_jupyter()`, it imports other functions in `run_program.py`. And because `run_program.py` imports the `jupyter` module, th

[2022-04-12 20:07] szahedian commented on #53
Sounds good, @gentzkow. Once gslab-econ/gslab_make#49 closes, we can remove `future` from `conda_env.yaml` and wrap this issue.

[2022-04-16 00:23] Houdanait opened #54 "Discuss improvements to the template"
The goal of this issue is to discuss improvements that can be made to the template going forward. Such improvements would in particular target smoother adaptations of repositories to specific needs of replication packages.

Indeed, in creating the replication package for Phone Addiction, we face several issues and bugs as we were trying to adapt the environment to be run within Docker.

Here are s

[2022-04-18 22:22] szahedian commented on #54
Thank you @Houdanait for laying that out! Here's my take on the major points of discussion, ordered below from lightest to heaviest lift.

This sounds like a simple last step before exporting code for replication. We could just add as another step in the replication package README that the replicator should change `ROOT` as defined in [`run_all.py`](https://github.com/gentzkow/template/blob/d74838

[2022-05-04 16:12] gentzkow commented on #53
@szahedian Checking in on status here. Thanks!

[2022-05-04 16:15] gentzkow commented on #54
@Houdanait @szahedian Picking up the discussion here again.

One question on @szahedian's last point: Do we know if it's possible to using Github Workflows to run proprietary (e.g., Stata, Matlab) software? Looks like this might require "hosting our own runner" per [here](https://docs.github.com/en/actions/hosting-your-own-runners)?

[2022-05-05 21:25] szahedian commented on #53
Thanks for checking in, @gentzkow! I've posted an update for you in https://github.com/gslab-econ/gslab_make/issues/49.

[2022-05-06 15:53] gentzkow commented on #53
Thanks! I'd vote we wrap this issue and continue work in [gslab_make#49](https://github.com/gslab-econ/gslab_make/issues/49).

[2022-05-06 18:06] gentzkow commented on #53
right; ok!

[2022-05-09 00:17] szahedian commented on #54
@gentzkow apologies for the delayed response. After looking through the Github Actions about pages, my sense is that self-hosted runners are more flexible i.e. if we can't do it on a self-hosted runner, we can't do it on a Github runner. That said, I think it might be possible to possible to run Stata on a Github hosted runner, based on (1) the fact that Lars has figured out running Stata in Docke

[2022-05-11 20:20] szahedian commented on #53
@gentzkow with the merged PR for https://github.com/gslab-econ/gslab_make/issues/49 and the latest commit above, work on this issue is complete. Please see https://github.com/gentzkow/template/commit/50d1435ea3c5c8e0715d80e0856317474bbac747 for the full details. In brief, we removed R dependencies, `pip`, and `future` from `conda_env.yaml`. I'm still able to run `run_all.py`.

If this looks good t

[2022-05-11 21:04] gentzkow commented on #53
Great! Cleared to merge + close

[2022-05-12 00:52] szahedian commented on #53
**Summary:** In this issue, we removed `pip`, `future`, and R dependencies from `conda_env.yaml`.

[2022-05-12 00:59] #53 closed

[2022-05-21 18:47] gentzkow commented on #54
@Houdanait Thanks! The thing I find a bit baffling is how we've ended up in this situation

This setup typically involves just standard Python and R packages. I would have thought what we're doing is no more complex than a typical data science setup using these packages. Can we figure out where we went wrong in this respect?

[2022-05-28 02:59] szahedian commented on #54
@gentzkow I've read the notes from Houda's call and reread our email chain with Lars.

You said

I think, given the dependencies we need for our projects, our setup is pretty streamlined. You thought similarly in an early email to Lars:

To this, Lars responded

So it seems that, for many users on most environments, our setup can be replicated. But I think we can make setup even easier, so that us

[2022-05-31 18:43] gentzkow commented on #54
Thanks @szahedian

I agree that a lot of arrows point toward Docker for replication!

What do you think are the best steps to take so we're ready to do that when we next come to produce a replication archive?

[2022-06-02 16:27] gentzkow commented on #54
Sounds good! I'd vote you open a new task to move forward with it w/ a cap of no more than 10% of your time going to that task.

[2022-06-02 16:47] gentzkow commented on #54
(And you can wrap up this task at the same time)

[2022-06-02 22:27] Houdanait commented on #54
@gentzkow @szahedian Before we wrap this up!
One thing i wanted to raise is some discussion about `conda`.
We moved the `template` to use `conda` a year ago. However, it seems that `conda` is not ideal if we want to use Docker and neither it is if we were to run the repository on Sherlock.
Do we want to do something about it? I.e., have include an option in the `template` to set up `conda` or to h

[2022-06-03 18:54] szahedian commented on #54
Thanks, @Houdanait!

I agree that conda was causing us issues on Docker. I think Lars found some workarounds that we may be able to use, but I agree that it's not ideal. If we move forward with Docker and conda continues to cause headaches, we could consider installing dependencies into Docker using other means e.g. pip. With Docker, we don't have to worry about affecting a user's base environment

[2022-06-03 18:59] szahedian opened #56 "Build fully featured Docker container"
Following https://github.com/gentzkow/template/issues/54#issuecomment-1145038002, in this issue we will

The main improvement over #43 is the addition of Stata, using ideas from [AEA Stata for Docker](https://github.com/AEADataEditor/docker-stata).

[2022-06-09 15:54] szahedian commented on #56
Pushed first draft of Docker image.

To run this, a new user may have to make a few tweaks to their Docker configuration settings. Namely
1. Increasing Docker's allowable memory usage
2. Allowing Docker access to `/Applications` and `~/Documents` i.e. wherever `stata.lic` lives and wherever the replication files live.

In its current state, this container has much of what we need. Next steps:
1. A

[2022-06-09 18:19] szahedian commented on #54
@gentzkow I have one question before we close this issue. Lars suggested

I think this makes sense for replication purposes. Should we make a note of this somewhere? In general, where would be a good place to post best practices / steps for turning a working project repo into a replication package?

[2022-06-09 18:24] gentzkow commented on #54
Oh, good catch. Yes.

Can you open a separate issue to implement? At a minimum, we can just add instructions for doing that to the section of the RA manual on replication archives ([here](https://github.com/gslab-econ/ra-manual/wiki/Releases)). We could also take a look to see whether there's any functionality we should add to the template or gslab_make to facilitate this. I think we already got r

[2022-06-09 21:56] gentzkow commented on #54
Right. Only edit would be on (1) we should change the template so `run_all.py` never uses git to find ROOT. We should just assume `run_all.py` lives at ROOT.

[2022-06-10 03:09] szahedian commented on #54
## Summary

In this issue, we discussed improvements to the template based on correspondence with Lars Villhuber. At this stage, we agreed to
1. Simplifying package dependencies as much as possible
2. Using Docker to build an isolated environment for replicators

Progress on (1) has been made on this issue's branch and in gslab-econ/gslab_make#51. Progress on (2) is being made in #56.

[2022-06-10 03:10] #54 closed

[2022-07-13 23:26] jc-cisneros opened #58 "Revise run_all.py"
Make sure the build script runs correctly after following the setup process. [snairdesai](https://github.com/snairdesai) and I both got the same error after running [run_all.py](https://github.com/gentzkow/template/blob/master/run_all.py) on the terminal. The text of the error on the terminal can be seen on [template_build_error terminal.txt](https://github.com/gentzkow/template/files/9115614/temp

[2022-07-14 21:39] jc-cisneros commented on #58
@szahedian as we discussed, a quick fix would be to add a command to go back to root directory between each run_module command:

`### RUN SCRIPTS

gs.run_module(root = ROOT, module = 'data')
os.chdir('..')
gs.run_module(root = ROOT, module = 'analysis')
os.chdir('..')
gs.run_module(root = ROOT, module = 'paper_slides')`

[2022-07-14 21:40] snairdesai commented on #58
Also noting that in the [setup instructions](https://github.com/gentzkow/template#setup) for the template, users should be prompted to run the `git lfs pull` command after running `./setup/lfs_setup.sh`.

[2022-07-14 22:04] jc-cisneros commented on #58
There is one last consideration to keep in mind that @snairdesai helped me sort out. If you are following the regular setup for [command line usage](https://github.com/gentzkow/template/wiki/Command-Line-Usage), make sure you change the shell to Bash. The default shell in newer Mac OS is zsh (see [reference](https://www.theverge.com/2019/6/4/18651872/apple-macos-catalina-zsh-bash-shell-replacement

[2022-07-15 09:22] gentzkow commented on #58
@jc-cisneros @szahedian I haven't looked at the error [above](https://github.com/gentzkow/template/issues/58#issue-1304042916) in detail, but if the issue is that `gs.run_module` is dropping the user in the wrong directory when it exits we should fix that in the gslab_make library rather than doing the "[quick fix](https://github.com/gentzkow/template/issues/58#issuecomment-1184919641)" in run_all

[2022-07-20 16:57] jc-cisneros commented on #58
Opened an [issue](https://github.com/gslab-econ/gslab_make/issues/52) and a corresponding [PR](https://github.com/gslab-econ/gslab_make/pull/53) in the gslab_make repository. I am closing this issue on the template repository.

[2022-07-20 16:57] #58 closed

[2022-08-10 00:18] jc-cisneros commented on #56
I managed to replicate @szahedian last results. I effectively needed to increase Docker's allowable memory usage to 10 GB and allow access to `/Applications` to successfully build the image.

Some comments on the next steps:

1. I tested adding R and R requirements to the conda_env.yaml file and building the container image with that configuration. Doing that will definitely take quite a bit to ru

[2022-08-10 21:20] snairdesai opened #59 "Updates to R dependency installations in Conda"
@gentzkow @szahedian

Following from #53 and #54, [@jc-cisneros](https://github.com/jc-cisneros) and I were playing around with the `gentzkow/template` format to figure out how to install _both_ R and Python dependencies in the **_same `conda` environment_** in a timely fashion. We had previously removed R dependencies altogether following comments ([here](https://github.com/gentzkow/template/issu

[2022-08-10 22:14] jc-cisneros commented on #56
@gentzkow @szahedian

[@snairdesai](https://github.com/snairdesai) and I made progress on this issue. Following #59, we updated the Dockerfile to support both Python and R dependencies. Similar to what was reported in the local MacOS case, the computation times improved considerably (the environment was created in roughly 6 minutes when building the Docker container). We also added the installatio

[2022-08-12 17:46] gentzkow commented on #59
@snairdesai Thanks! As I said at our lunch, this is some *awesome* sleuthing on your and @jc-cisneros' part. Green light to proceed.

Can you write a 1 paragraph summary explaining the problem + solution that would be appropriate for me to send the the AER data editor?

[2022-08-12 17:48] snairdesai commented on #59
Sounds good! @jc-cisneros and I are working on Docker instructions integrating this fix in #56, and will start on this shortly after.

[2022-08-12 17:48] gentzkow commented on #56
Thanks! Next steps sound good. I added @jc-cisneros and @snairdesai as collaborators.

[2022-08-26 22:18] snairdesai opened #62 "Proposed revisions to standard template process"
This issue follows from #59, and our conversations with Hunt Allcott's RAs regarding their issues using the current `template` procedure across different OS. The proposed revisions in this issue will be _distinct_ from the Docker development workflow proposals in #56, which we hope to add as a separate `template` workflow for capable users.

Below are a list of issues raised by the Hunt RAs:

---

[2022-08-26 22:18] snairdesai commented on #59
@gentzkow I'll be closing out this issue and moving the proposed `conda` revisions to `template` discussed [here](https://github.com/gentzkow/template/issues/59#issue-1335213999) to #62.

Here is the paragraph we might send to the AER data editor:

Previously, we had been using a `miniconda` environment to handle our package installations in Python, and handled package installations for R and Stat

[2022-08-26 22:33] snairdesai commented on #62
For @jc-cisneros and I (for now):

Here are a list of fixes which we anticipate will address each of the issues referenced [above](https://github.com/gentzkow/template/issues/62#issue-1352782254). We are testing these now.

This likely has to do with confusion around `git-lfs` usage. We are proposing that we explicitly note users should run `git lfs pull` to pull LFS objects. This should address t

[2022-08-26 22:36] snairdesai commented on #59
**Summary of this Issue**

In this issue (which follows from https://github.com/gentzkow/template/issues/53 and https://github.com/gentzkow/template/issues/54), @jc-cisneros and I addressed an issue with extended delays in solving `conda` environments which list both Python and R package dependencies. The proposed solution is detailed [above](https://github.com/gentzkow/template/issues/59#issue-13

[2022-08-26 22:36] #59 closed

[2022-08-27 18:29] snairdesai commented on #62
@gentzkow Noting that we've opened this new issue (#62) to document and debug the above errors per our email exchange. We've closed the issue addressing `conda` dependencies (#59) and will integrate here. You can find the sample paragraph you requested to the AER data editor [here](https://github.com/gentzkow/template/issues/59#issuecomment-1229007751).

[2022-08-28 22:01] gentzkow commented on #62
Thanks @snairdesai. Email sent to data editor.

[2022-08-30 17:45] snairdesai commented on #56
@gentzkow @szahedian

Noting that @jc-cisneros and I met with the Hunt RAs this morning to discuss Docker integration into the standard workflow. They are now getting familiar with the `template` process within Docker, while we address their issues with the standard process (in #62).

We are also in the final stages of debugging Docker usage for WindowsOS, and hope to have an updated proposal for

[2022-08-31 17:17] jc-cisneros commented on #56
@gentzkow @szahedian

I am happy to announce that the container runs successfully on both MacOS and WindowsOS. I will describe the latest updates and list the next steps.

Updates:
- Image is now built to be used by a non-root user. Within the container, users are only able to write on folders of their ownership or where they have write permissions (this is configured on the Dockerfile). The user

[2022-08-31 17:43] gentzkow commented on #56
@jc-cisneros Thanks! This is exciting.

A question I'd be curious to get your thoughts on as we think about whether we want to use Docker as our default dev environment vs. only for releasing replication archives etc.:

To what extent would you expect that this will add another layer of failure points / debugging? Something we've run into again and again is that changes that are intended to make l

[2022-08-31 18:30] snairdesai commented on #56
@gentzkow @jc-cisneros

**(i)** We think `Docker` will make reproducibility much easier for individuals _external_ to the lab, both because of ease of use/accessibility, and because of additional features allowing for cross-platform compatibility.
**(ii)** We acknowledge that for _internal lab use_ (development), the process of building and pushing images will be challenging, and may increase the

[2022-08-31 21:43] gentzkow commented on #56
Excellent. Thanks!

[2022-09-02 22:18] snairdesai commented on #56
_Update_: Today we verbally described the purpose/features of Docker to a Heidi RA in the lab, and had them run the `template` image. It ran as expected, and took ~7 minutes to run template in its entirety. Seems like the process was straightforward, so a promising start!

[2022-09-06 17:54] gentzkow commented on #56
Thanks. Can you give me an idea of how the template could take 7 minutes to run? I would have thought all the scripts should be basically instantaneous.

[2022-09-06 18:07] snairdesai commented on #56
@gentzkow

Apologies, that message was unclear - we are including the time it takes from a first-time user to sit down with the Docker instructions up until the time when they successfully run `template`, _including all initial steps of setup_. The `run_all.py` script is still nearly instantaneous.

The benefit of Docker is that individuals do not have to download any of our standard application r

[2022-09-06 18:37] gentzkow commented on #56
Got it. Thanks!

Is the ~30 seconds for `run_all.py` different from the time it takes when we're running it outside of `Docker`?

[2022-09-06 18:38] snairdesai commented on #56
It's roughly the same as the time it takes in the standard `template` process. It differs for everyone depending on their local computing power, but `Docker` likely will not make the scripts any more/less efficient to run.

[2022-09-07 00:29] helmsman23 commented on #62
Since you are revising the template, I thought I'd mention that it does not appear to run on Macs with M1 chips because python 3.7 is not available for these machines in conda.  The template does appear to run with python 3.8, as set in conda_env.yaml. I have not thoroughly tested using python 3.8 approach, but python 3.9 produced errors. I'm still learning the new git-based template and gslab_mak

[2022-09-07 16:28] snairdesai commented on #62
Thank you @mthomas00! We'll add this to our item list.

[2022-09-07 22:19] gentzkow commented on #62
@mthomas00 Good to hear from you!!! Thanks for the tip

[2022-10-05 18:22] meyer-carl commented on #62
@mthomas00 @snairdesai Just as a heads up, we were discussing the same issue on https://github.com/gentzkow/CommitFlex/issues/114.
I suggested a solution in the initial comment [here](https://github.com/gentzkow/CommitFlex/issues/114#issue-1396669360) that allows me to to stick with Python version 3.7 even on a new Mac with a M1 chip. The idea is to use Rosetta to have an environment that behaves

[2022-10-06 18:48] gentzkow commented on #62
Thanks @meyer-carl

Just to say, though, as I mentioned on the other thread I do *not* think we should be trying to stick to Python 3.7. Our goal should be to regularly update so we're using the most recent version of tools unless there's a specific reason not to. I do not think there is anything in our tools that should require python 3.7.

[2022-10-06 22:24] meyer-carl commented on #62
@gentzkow yes, of course. I should have been clear that this is at best a stopgap solution.

[2022-10-07 17:10] jc-cisneros opened #65 "Update to Python 3.10"
The goal of this issue is to update the Python version used in `master`. The steps are the following:

- [x] Build the conda environment with Python 3.10. Per https://github.com/gentzkow/CommitFlex/issues/114#issuecomment-1270855088, the Python version will be commented out in the `setup/conda_env.yaml` file, so that the norm is that the user updates to the latest version. Update the readme file t

[2022-10-07 18:43] jc-cisneros commented on #65
The repository ran successfully with Python 3.10. Some considerations to have in mind:
- I extended the logic of https://github.com/gentzkow/CommitFlex/issues/114#issuecomment-1270855088 to packages. To be precise, that means that the norm is that the user installs the latest versions of the packages. The latest working version is commented out.
- If versions are not specified, the process of solv

[2022-10-07 22:14] snairdesai commented on #65
Thanks @jc-cisneros! For some reason the link you pasted gives me an "invalid credentials" error. It doesn't seem like any updates have been made to our [original shared document](https://colab.research.google.com/drive/1LsG3FmAqkX4UbyxCBK0FNcNuxi_xqAeQ)?

[2022-10-07 22:49] snairdesai commented on #65
@jc-cisneros The edits above look good to me, I think we can add to the Proposed Changes document!

[2022-10-07 23:13] gentzkow commented on #65
Thanks @jc-cisneros. Proposed changes sound great.

The `lab-manual` permissions were just a glitch. Everyone in the gslab RA group now has write access (including you!).

[2022-10-10 21:29] jc-cisneros opened #67 "Julia extension"
In this issue we will test the `run_julia` wrapper from `gslab_make` (see https://github.com/gslab-econ/gslab_make/issues/54).

Task list
- [x] Test if Julia + packages can be added to the conda environment.
- [x] Run Julia scripts from `root` using the `run_julia wrapper`

[2022-10-11 00:35] jc-cisneros commented on #67
Update:

As of today, the best strategy to using conda+Julia is the following:
- Add `-julia # =version` to the conda_env.yaml file and create the conda environment.
- Use Conda.jl to add packages to the conda environment (See https://github.com/JuliaPy/Conda.jl)

A way to add the Julia packages within the conda_env.yaml is currently being developed (See https://github.com/conda-forge/conda-forge.

[2022-10-11 06:20] #65 closed

[2022-10-11 06:23] jc-cisneros commented on #65
Summary:

On this issue, the Python version used by `template` was updated to 3.10. We also decided to add an extra step regarding listing the package version (see https://github.com/gentzkow/template/issues/65#issuecomment-1271955569).

Changes to master were brought by #66.

[2022-10-22 02:02] jc-cisneros commented on #67
Summary:

On this issue we tested the compatibility of the current structure of `template` with Julia. Specifically, we installed Julia within the build conda environment workflow and used the `run_julia` with a script that produces a plot. The `run_julia` function worked as expected and [was added to the `gslab_make` master branch](https://github.com/gslab-econ/gslab_make/pull/55).

Flagging some

[2022-10-22 02:02] #67 closed

[2022-11-06 22:02] mthomas00 opened #69 "Slides for Stanford Talk"
A talk at the Stanford brown bag is scheduled for early December. Prepare slides for this.

[2022-11-08 00:24] snairdesai commented on #62
@gentzkow:

Noting that @jc-cisneros and I are at a stage where we feel comfortable closing out this issue and initializing a new PR to merge back to `master`. The `template` revisions we propose in the PR will not be static, and some iteration will be required.

However, there are a few key updates detailed in our revisions which should probably live in `master` sooner rather than later to improv

[2022-11-08 00:53] snairdesai commented on #62
### Summary + Deliverable

In this issue (#62) following from #59, @jc-cisneros and I proposed a series of revision to the standard (i.e., non-Docker) `template` process. These edits will be dynamic, and more revisions will likely be required based on future user feedback.

The complete list of revisions (including edits to the `template` Wiki for ["Command Line Usage"](https://github.com/gentzkow

[2022-11-08 00:55] #62 closed

[2022-11-09 07:46] jc-cisneros opened #71 "Log software + packages versions"
In this issue we will test the `write_version_log` feature from gslab_make (see https://github.com/gslab-econ/gslab_make/issues/56).

Task list

- [x] Add the new feature to the make scripts in each submodule.
- [x] Check that a `versions.log` file is created in each submodule's `log` folder.
- [x] Check that `versions.log` correctly prints the versions from the active environment.
- [x] Robustnes

[2022-11-09 08:22] jc-cisneros commented on #71
@gentzkow, following the latest conversations on package versions (see https://github.com/gslab-econ/gslab_make/issues/56), I added a `write_versions_log` feature to produce a log file that lists all the software + packages used in a conda environment, their versions and a timestamp. This feature can be added to any project using `gslab_make` so that we can always check the versions used in any co

[2022-11-09 19:25] gentzkow commented on #71
Great! This looks very good.

I'm thinking we may want to incorporate this into `template` and then make the default to *not* specify explicit version numbers in the setup file. We can note in a comment in that file that users can add explicit version numbers if they want to freeze a package at a particular revision or if they're getting conflicts caused by package updates.

[2022-11-10 01:15] jc-cisneros commented on #71
On [a98903e](https://github.com/gentzkow/template/commit/a98903ecafc74ce12ebafa088864e5aff6603ac9), I updated the `conda_env.yaml` to reflect the new default behavior per https://github.com/gentzkow/template/issues/71#issuecomment-1309251979. I will proceed with the PR for the issue.

[2022-11-16 18:02] jc-cisneros commented on #71
Summary:

On this issue we tested the a new gslab_make feature to log the package versions. The feature worked as expected and was added to the [gslab_make master branch](https://github.com/gslab-econ/gslab_make/pull/57).

Flagging some of the lessons and opportunities for future updates:

- The `write_versions_log.py` feature currently returns the output of running `conda list` with the active en

[2022-11-16 18:02] #71 closed